rng/technicalContent/rng/equationDomain.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng"
                         schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:dita="http://dita.oasis-open.org/architecture/2005/"
  xmlns:mml="http://www.w3.org/1998/Math/MathML"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Equation Domain</moduleTitle>
    <headerComment xml:space="preserve">
============================================================= 
DITA Equation Domain

Purpose: Provides elements for identifying equations as 
         equations independent of how the equation itself
         is defined (e.g., as a graphic, using MathML, etc.).
         
Creation Date: March 2014

(c) Copyright Bentley Systems, Incorporated 2019 
                   All Rights Reserved. 
Copyright (c) OASIS Open 2014

UPDATES:
2019.09.17 JTC: Added legacy Bentley math domain elements
                from DITA v1.2 
=============================================================      
</headerComment>
    <moduleMetadata>
      <moduleType>elementdomain</moduleType>
      <moduleShortName>equation-d</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//BENTELY//ELEMENTS DITA<var presep=" " name="ditaver"/> Equation Domain//EN</dtdMod>
        <dtdEnt>-//BENTLEY//ENTITIES DITA<var presep=" " name="ditaver"/> Equation Domain//EN</dtdEnt>
        <xsdMod>urn:bentley:names:tc:dita:xsd:equationDomain.xsd<var presep=":" name="ditaver"/></xsdMod>
        <rncMod>urn:bentley:names:tc:dita:rnc:equationDomain.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:bentley:names:tc:dita:rng:equationDomain.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
      <domainsContribution>(topic equation-d)</domainsContribution>
    </moduleMetadata>
  </moduleDesc>
  <div>
    <a:documentation>DOMAIN EXTENSION PATTERNS</a:documentation>

    <define name="equation-d-ph">
      <ref name="equation-inline.element"/>
    </define>

    <define name="equation-d-div">
      <ref name="equation-block.element"/>
    </define>

    <define name="equation-d-fig">
      <choice>
        <ref name="equation-figure.element"/>
        <ref name="equation.element"/>
      </choice>
    </define>

    <define name="ph" combine="choice">
      <ref name="equation-d-ph"/>
    </define>

    <define name="div" combine="choice">
      <ref name="equation-d-div"/>
    </define>

    <define name="fig" combine="choice">
      <ref name="equation-d-fig"/>
    </define>
    
    <!-- JTC: Added the following legacy elements                      -->
    <define name="equation-d-foreign">
      <choice>
        <ref name="math.element"/>
        <ref name="mathph.element"/>
      </choice>
    </define>
    
    <define name="equation-d-dl">
      <ref name="eqsymbols.element"/>
    </define>
    
    <define name="foreign" combine="choice">
      <ref name="equation-d-foreign"/>
    </define>
    
    <define name="dl" combine="choice">
      <ref name="equation-d-dl"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="equation-block">
      <ref name="equation-block.element"/>
    </define>
    <define name="equation-figure">
      <ref name="equation-figure.element"/>
    </define>
    <define name="equation-inline">
      <ref name="equation-inline.element"/>
    </define>
    <define name="equation-number">
      <ref name="equation-number.element"/>
    </define>
    
    <define name="math">
      <ref name="math.element"/>
    </define>
    <define name="mathph">
      <ref name="mathph.element"/>
    </define>
    <define name="equation">
      <ref name="equation.element"/>
    </define>
    <define name="eqsymbols">
      <ref name="eqsymbols.element"/>
    </define>
    <define name="eqsymbol">
      <ref name="eqsymbol.element"/>
    </define>
    <define name="symname">
      <ref name="symname.element"/>
    </define>
    <define name="symdesc">
      <ref name="symdesc.element"/>
    </define>
  </div>
  <div>
    <a:documentation>COMMON CONTENT MODEL PATTERNS</a:documentation>
    <define name="equation.cnt">
      <choice>
        <ref name="ph.cnt"/>
      </choice>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>
    <div>
      <a:documentation>LONG NAME: Inline equation</a:documentation>
      <define name="equation-inline.content">
        <zeroOrMore>
          <ref name="equation.cnt"/>
        </zeroOrMore>
      </define>
      <define name="equation-inline.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="equation-inline.element">
        <element name="equation-inline" dita:longName="Inline equation" dita:since="1.3">
          <a:documentation> The Inline Equation element (&lt;equation-inline&gt;) represents an
            equation that is intended to be rendered inline with its surrounding content. The
            equation content may be represented in any number of ways, including embedded MathML
            using the &lt;mathml&gt; specialization of &lt;foreign&gt;, a reference to an image,
            inline TeX markup, or any other way that an equation might be defined. The equation may
            include alternative forms, such as both a MathML version and an image. </a:documentation>
          <ref name="equation-inline.content"/>
          <ref name="equation-inline.attlist"/>
        </element>
      </define>
      <define name="equation-inline.attlist" combine="interleave">
        <ref name="equation-inline.attributes"/>
      </define>
    </div>    <div>
      <a:documentation>LONG NAME: Block equation</a:documentation>
      <define name="equation-block.content">
        <zeroOrMore>
          <choice>
            <ref name="equation.cnt"/>
            <ref name="equation-number"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="equation-block.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="equation-block.element">
        <element name="equation-block" dita:longName="Block equation" dita:since="1.3">
          <a:documentation> The Block Equation element (&lt;equation-block&gt;) represents
            an equation to be rendered as a block. Block equations may be numbered. The
            equation content may be represented in any number of ways, including embedded MathML
            using the &lt;mathml&gt; specialization of &lt;foreign&gt;, a reference to an image,
            inline TeX markup, or any other way that an equation might be defined. The equation may
            include alternative forms, such as both a MathML version and an image. </a:documentation>
          <ref name="equation-block.content"/>
          <ref name="equation-block.attlist"/>
        </element>
      </define>
      <define name="equation-block.attlist" combine="interleave">
        <ref name="equation-block.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Equation number</a:documentation>
      <define name="equation-number.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="ph"/>
            <ref name="text"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="equation-number.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="equation-number.element">
        <element name="equation-number" dita:longName="Equation number" dita:since="1.3">
          <a:documentation> The Equation Number element (&lt;equation-number&gt;) indicates
          that the equation should be numbered. If the &lt;equation-number&gt; element has empty or 
          whitespace-only content, then the number should be generated. If the &lt;equation-number&gt;
          element has content other than whitespace, the content should be used as the number.</a:documentation>
          <ref name="equation-number.content"/>
          <ref name="equation-number.attlist"/>
        </element>
      </define>
      <define name="equation-number.attlist" combine="interleave">
        <ref name="equation-number.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Equation figure</a:documentation>
      <define name="equation-figure.content">
        <optional>
          <ref name="title"/>
        </optional>
        <optional>
          <ref name="desc"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="figgroup"/>
            <ref name="fig.cnt"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="equation-figure.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="equation-figure.element">
        <element name="equation-figure" dita:longName="Equation figure" dita:since="1.3">
          <a:documentation> The Equation Figure element (&lt;equation-figure&gt;) represents an
            equation that may have a title or a description and that may be numbered. When equation
            figures are numbered they are often numbered separately from figures. Note that block
            and inline equations may also be numbered. The equation figure element is intended for
            equations that are not part of the rhetorical flow of a document but that are presented
            either out of line or otherwise need a title or description. Equation figures that are
            simply a single equation plus, optionally, a title or description, may use the
            &lt;mathml&gt; element directly. When the display equation content is more complicated,
            it should use &gt;equation-block&gt; to clearly distinguish the equation content from
            non-equation content, such as paragraphs that provide commentary on the equations within
            the display equation. The equation content may be represented in any number of ways,
            including embedded MathML using the &lt;mathml&gt; specialization of &lt;foreign&gt;, a
            reference to an image, inline TeX markup, or any other way that an equation might be
            defined. The equation may include alternative forms, such as both a MathML version and
            an image. </a:documentation>
          <ref name="equation-figure.content"/>
          <ref name="equation-figure.attlist"/>
        </element>
      </define>
      <define name="equation-figure.attlist" combine="interleave">
        <ref name="equation-figure.attributes"/>
      </define>
    </div>
    
    <div>
      <a:documentation>LONG NAME: Math Phrase</a:documentation>      
      <define name="mathph.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <!--<optional>
          <attribute name="mml">
            <text>http://www.w3.org/1998/Math/MathML</text>
          </attribute>
        </optional>-->
      </define>
      <define name="mathph.element">
        <element name="mathph" dita:longName="Math Phrase" dita:since="1.1">
          <a:documentation>The legacy math phrase (&lt;mathph>) element contains an inline section of math text or image.</a:documentation>
          <!-- JTC: Just use the equation-inline content model; this should be 
          more general than the previously restrictive model for mathph.     -->
          <!--<ref name="equation-inline.content"/>-->
          
          <ref name="mathph.attlist"/>
          <zeroOrMore>
            <choice>
              <ref name="words.cnt"/>
            <ref name="hi-d-ph"/>
          <ref name="image"/>
            <externalRef href="mathmlDomainProxy.rng"
              dita:namespacePrefix="mml"
              dita:dtdPublicId="-//BENTLEY//ELEMENTS DITA 1.3 Mathml3 Driver//EN"
              dita:dtdSystemId="mathml/mathml3-ditadriver.dtd"
              dita:xsdURI="mathml/mathml3/mathml3.xsd"
              dita:xsdTargetNamespace="http://www.w3.org/1998/Math/MathML"
            />
            </choice>
          </zeroOrMore>
        </element>
      </define>      
      <define name="mathph.attlist" combine="interleave">
        <ref name="mathph.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Equation</a:documentation>
      <define name="equation.content">
        <optional>
          <ref name="title"/>
        </optional>
        <optional>
          <ref name="desc"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="math"/>
            <ref name="eqsymbols"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="equation.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
        <define name="equation.element">
          <element name="equation" dita:longName="Equation" dita:since="1.1">
            <a:documentation>The &lt;equation> element is the main container for the mathematical content and supporting text and symbology.</a:documentation>            <ref name="equation.content"/>
            <ref name="equation.attlist"/>
          </element>
        </define>
      <define name="equation.attlist" combine="interleave">
        <ref name="equation.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Math</a:documentation>
      <define name="math.content">
          <zeroOrMore>
            <choice>
              <ref name="para.cnt"/>
             <externalRef href="mathmlDomainProxy.rng"
               dita:namespacePrefix="mml"
               dita:dtdPublicId="-//BENTLEY//ELEMENTS DITA 1.3 Mathml3 Driver//EN"
               dita:dtdSystemId="mathml/mathml3-ditadriver.dtd"
               dita:xsdURI="mathml/mathml3/mathml3.xsd"
               dita:xsdTargetNamespace="http://www.w3.org/1998/Math/MathML"
             />
            </choice>
          </zeroOrMore>
      </define>
      <define name="math.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <!--<optional>
          <attribute name="mml">
            <text>http://www.w3.org/1998/Math/MathML</text>
          </attribute>
        </optional>-->
      </define>
      <define name="math.element">
        <element name="math" dita:longName="Math" dita:since="1.1">
          <a:documentation></a:documentation>
          <ref name="math.attlist"/>
          <ref name="math.content"/>
        </element>
      </define>
      <define name="math.attlist">
        <ref name="math.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Equation Symbol List</a:documentation>
        <define name="eqsymbols.content">
          <zeroOrMore dita:since="1.3">
            <choice>
              <ref name="data"/>
              <ref name="data-about"/>
            </choice>
          </zeroOrMore>
          <oneOrMore>
            <ref name="eqsymbol"/>
          </oneOrMore>
        </define>
        <define name="eqsymbols.attributes">
          <optional>
            <attribute name="compact">
              <choice>
                <value>no</value>
                <value>yes</value>
                <value>-dita-use-conref-target</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="spectitle"/>
          </optional>
          <ref name="univ-atts"/>
          <optional>
            <attribute name="outputclass"/>
          </optional>
        </define>
        <define name="eqsymbols.element">
          <element name="eqsymbols" dita:longName="Definition List">
            <a:documentation>The equation symbols (&lt;eqsymbols>) element contains a list of mathematical symbols and definitions used an equation.</a:documentation>
            <ref name="eqsymbols.attlist"/>
            <ref name="eqsymbols.content"/>
          </element>
        </define>
        <define name="eqsymbols.attlist" combine="interleave">
          <ref name="eqsymbols.attributes"/>
        </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Equation Symbol List Entry</a:documentation>
      <define name="eqsymbol.content">
        <oneOrMore>
          <ref name="symname"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="symdesc"/>
        </oneOrMore>
      </define>
      <define name="eqsymbol.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="eqsymbol.element">
        <element name="eqsymbol" dita:longName="Equation Symbol List Entry">
          <a:documentation>The equation symbols entry (&lt;eqsymbol>) element contains one or more mathematical symbol and definition pairs.
math</a:documentation>
          <ref name="eqsymbol.content"/>
          <ref name="eqsymbol.attlist"/>
        </element>
      </define>
      <define name="eqsymbol.attlist">
        <ref name="eqsymbol.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Symbol Name</a:documentation>
      <define name="symname.content">
        <ref name="term.cnt"/>
      </define>
      <define name="symname.attributes">
          <optional>
            <attribute name="keyref"/>
          </optional>
          <ref name="univ-atts"/>
          <optional>
            <attribute name="outputclass"/>
          </optional>
      </define>
      <define name="symname.element">
        <element name="symname" dita:longName="Symbol Name">
          <a:documentation>A symbol name (&lt;symname>) element contains a single mathematical symbol within a &lt;eqsymbols> list.</a:documentation>
          <ref name="symname.content"/>
          <ref name="symname.attlist"/>
        </element>
      </define>
      <define name="symname.attlist">
        <ref name="symname.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Symbol Description</a:documentation>
      <define name="symdesc.content">
        <ref name="defn.cnt"/>
      </define>
      <define name="symdesc.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="symdesc.element">
        <element name="symdesc" dita:longName="Symbol Description">
          <a:documentation>A symbol description (&lt;symdesc>) element contains the description of the related mathematical symbol within a &lt;eqsymbols> list.</a:documentation>
          <ref name="symdesc.content"/>
          <ref name="symdesc.attlist"/>
        </element>
      </define>
      <define name="symdesc.attlist">
        <ref name="symdesc.attributes"/>
      </define>
    </div>
  </div>
  
  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>
    <define name="equation-inline.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph equation-d/equation-inline "/>
      </optional>
    </define>
    <define name="equation-block.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/div equation-d/equation-block "/>
      </optional>
    </define>
    <define name="equation-number.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/ph equation-d/equation-number "/>
      </optional>
    </define>
    <define name="equation-figure.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/fig equation-d/equation-figure "/>
      </optional>
    </define>
    
    <define name="mathph.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/foreign equation-d/mathph "/>
     	</optional>
     </define>
     <define name="equation.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/fig equation-d/equation "/>
     	</optional>
     </define>
     <define name="math.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/foreign equation-d/math "/>
     	</optional>
     </define>
     <define name="eqsymbols.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/dl equation-d/eqsymbols "/>
     	</optional>
     </define>
     <define name="eqsymbol.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/dlentry equation-d/eqsymbol "/>
     	</optional>
     </define>
     <define name="symname.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/dt equation-d/symname "/>
     	</optional>
     </define>
     <define name="symdesc.attlist" combine="interleave">
     	<ref name="global-atts"/>
     	<optional>
     		<attribute name="class" a:defaultVAlue="+ topic/dd equation-d/symdesc "/>
     	</optional>
     </define>
  </div>
</grammar>
