schema/technicalContent/xsd/mathml/mathml3/mathml3-presentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:mml="http://www.w3.org/1998/Math/MathML"
           elementFormDefault="qualified"
           targetNamespace="http://www.w3.org/1998/Math/MathML">
   <xs:complexType name="ImpliedMrow">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
   </xs:complexType>
   <xs:element name="TableRowExpression" abstract="true"/>
   <xs:element name="TableCellExpression" abstract="true">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:mtd.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:group name="MstackExpression">
      <xs:choice>
         <xs:group ref="mml:MathExpression"/>
         <xs:element ref="mml:mscarries"/>
         <xs:element ref="mml:msline"/>
         <xs:element ref="mml:msrow"/>
         <xs:element ref="mml:msgroup"/>
      </xs:choice>
   </xs:group>
   <xs:group name="MsrowExpression">
      <xs:choice>
         <xs:group ref="mml:MathExpression"/>
         <xs:element ref="mml:none"/>
      </xs:choice>
   </xs:group>
   <xs:group name="MultiScriptExpression">
      <xs:sequence>
         <xs:choice>
            <xs:group ref="mml:MathExpression"/>
            <xs:element ref="mml:none"/>
         </xs:choice>
         <xs:choice>
            <xs:group ref="mml:MathExpression"/>
            <xs:element ref="mml:none"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:simpleType name="mpadded-length">
      <xs:restriction base="xs:string">
         <xs:pattern value="\s*([\+\-]?[0-9]*([0-9]\.?|\.[0-9])[0-9]*\s*((%?\s*(height|depth|width)?)|e[mx]|in|cm|mm|p[xtc]|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\s*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="linestyle">
      <xs:restriction base="xs:token">
         <xs:enumeration value="none"/>
         <xs:enumeration value="solid"/>
         <xs:enumeration value="dashed"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="verticalalign">
      <xs:restriction base="xs:token">
         <xs:enumeration value="top"/>
         <xs:enumeration value="bottom"/>
         <xs:enumeration value="center"/>
         <xs:enumeration value="baseline"/>
         <xs:enumeration value="axis"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="columnalignstyle">
      <xs:restriction base="xs:token">
         <xs:enumeration value="left"/>
         <xs:enumeration value="center"/>
         <xs:enumeration value="right"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="notationstyle">
      <xs:restriction base="xs:token">
         <xs:enumeration value="longdiv"/>
         <xs:enumeration value="actuarial"/>
         <xs:enumeration value="radical"/>
         <xs:enumeration value="box"/>
         <xs:enumeration value="roundedbox"/>
         <xs:enumeration value="circle"/>
         <xs:enumeration value="left"/>
         <xs:enumeration value="right"/>
         <xs:enumeration value="top"/>
         <xs:enumeration value="bottom"/>
         <xs:enumeration value="updiagonalstrike"/>
         <xs:enumeration value="downdiagonalstrike"/>
         <xs:enumeration value="verticalstrike"/>
         <xs:enumeration value="horizontalstrike"/>
         <xs:enumeration value="madruwb"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="unsigned-integer">
      <xs:restriction base="xs:unsignedLong"/>
   </xs:simpleType>
   <xs:simpleType name="integer">
      <xs:restriction base="xs:integer"/>
   </xs:simpleType>
   <xs:simpleType name="number">
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
   <xs:simpleType name="character">
      <xs:restriction base="xs:string">
         <xs:pattern value="\s*\S\s*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="color">
      <xs:restriction base="xs:string">
         <xs:pattern value="\s*((#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)|[aA][qQ][uU][aA]|[bB][lL][aA][cC][kK]|[bB][lL][uU][eE]|[fF][uU][cC][hH][sS][iI][aA]|[gG][rR][aA][yY]|[gG][rR][eE][eE][nN]|[lL][iI][mM][eE]|[mM][aA][rR][oO][oO][nN]|[nN][aA][vV][yY]|[oO][lL][iI][vV][eE]|[pP][uU][rR][pP][lL][eE]|[rR][eE][dD]|[sS][iI][lL][vV][eE][rR]|[tT][eE][aA][lL]|[wW][hH][iI][tT][eE]|[yY][eE][lL][lL][oO][wW])\s*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="group-alignment">
      <xs:restriction base="xs:token">
         <xs:enumeration value="left"/>
         <xs:enumeration value="center"/>
         <xs:enumeration value="right"/>
         <xs:enumeration value="decimalpoint"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="group-alignment-list">
      <xs:restriction>
         <xs:simpleType>
            <xs:list itemType="mml:group-alignment"/>
         </xs:simpleType>
         <xs:minLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="group-alignment-list-list">
      <xs:restriction base="xs:string">
         <xs:pattern value="(\s*\{\s*(left|center|right|decimalpoint)(\s+(left|center|right|decimalpoint))*\})*\s*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="positive-integer">
      <xs:restriction base="xs:positiveInteger"/>
   </xs:simpleType>
   <xs:element name="TokenExpression" abstract="true"
               substitutionGroup="mml:PresentationExpression"/>
   <xs:group name="token.content">
      <xs:sequence>
         <xs:choice minOccurs="0">
            <xs:element ref="mml:mglyph"/>
            <xs:element ref="mml:malignmark"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:element name="mi" substitutionGroup="mml:TokenExpression">
      <xs:complexType mixed="true">
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
         <xs:attributeGroup ref="mml:mi.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mi.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:TokenAtt"/>
   </xs:attributeGroup>
   <xs:element name="mn" substitutionGroup="mml:TokenExpression">
      <xs:complexType mixed="true">
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
         <xs:attributeGroup ref="mml:mn.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mn.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:TokenAtt"/>
   </xs:attributeGroup>
   <xs:element name="mo" substitutionGroup="mml:TokenExpression">
      <xs:complexType mixed="true">
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
         <xs:attributeGroup ref="mml:mo.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mo.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:TokenAtt"/>
      <xs:attribute name="form">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="prefix"/>
               <xs:enumeration value="infix"/>
               <xs:enumeration value="postfix"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fence">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="separator">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lspace" type="mml:length"/>
      <xs:attribute name="rspace" type="mml:length"/>
      <xs:attribute name="stretchy">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="symmetric">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maxsize">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="infinity"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="minsize" type="mml:length"/>
      <xs:attribute name="largeop">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="movablelimits">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="accent">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linebreak">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="auto"/>
               <xs:enumeration value="newline"/>
               <xs:enumeration value="nobreak"/>
               <xs:enumeration value="goodbreak"/>
               <xs:enumeration value="badbreak"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lineleading" type="mml:length"/>
      <xs:attribute name="linebreakstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="before"/>
               <xs:enumeration value="after"/>
               <xs:enumeration value="duplicate"/>
               <xs:enumeration value="infixlinebreakstyle"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linebreakmultchar"/>
      <xs:attribute name="indentalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshift" type="mml:length"/>
      <xs:attribute name="indenttarget"/>
      <xs:attribute name="indentalignfirst">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshiftfirst">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalignlast">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshiftlast">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mtext" substitutionGroup="mml:TokenExpression">
      <xs:complexType mixed="true">
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
         <xs:attributeGroup ref="mml:mtext.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mtext.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:TokenAtt"/>
   </xs:attributeGroup>
   <xs:element name="mspace" substitutionGroup="mml:TokenExpression">
      <xs:complexType>
         <xs:attributeGroup ref="mml:mspace.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mspace.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:TokenAtt"/>
      <xs:attribute name="width" type="mml:length"/>
      <xs:attribute name="height" type="mml:length"/>
      <xs:attribute name="depth" type="mml:length"/>
      <xs:attribute name="linebreak">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="auto"/>
               <xs:enumeration value="newline"/>
               <xs:enumeration value="nobreak"/>
               <xs:enumeration value="goodbreak"/>
               <xs:enumeration value="badbreak"/>
               <xs:enumeration value="indentingnewline"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshift" type="mml:length"/>
      <xs:attribute name="indenttarget"/>
      <xs:attribute name="indentalignfirst">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshiftfirst">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalignlast">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshiftlast">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="ms" substitutionGroup="mml:TokenExpression">
      <xs:complexType mixed="true">
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
         <xs:attributeGroup ref="mml:ms.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="ms.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:TokenAtt"/>
      <xs:attribute name="lquote"/>
      <xs:attribute name="rquote"/>
   </xs:attributeGroup>
   <xs:element name="mglyph">
      <xs:complexType>
         <xs:attributeGroup ref="mml:mglyph.attributes"/>
         <xs:attributeGroup ref="mml:mglyph.deprecatedattributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mglyph.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="src" type="xs:anyURI"/>
      <xs:attribute name="width" type="mml:length"/>
      <xs:attribute name="height" type="mml:length"/>
      <xs:attribute name="valign" type="mml:length"/>
      <xs:attribute name="alt"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="mglyph.deprecatedattributes">
      <xs:attribute name="index" type="mml:integer"/>
      <xs:attribute name="mathvariant">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="bold"/>
               <xs:enumeration value="italic"/>
               <xs:enumeration value="bold-italic"/>
               <xs:enumeration value="double-struck"/>
               <xs:enumeration value="bold-fraktur"/>
               <xs:enumeration value="script"/>
               <xs:enumeration value="bold-script"/>
               <xs:enumeration value="fraktur"/>
               <xs:enumeration value="sans-serif"/>
               <xs:enumeration value="bold-sans-serif"/>
               <xs:enumeration value="sans-serif-italic"/>
               <xs:enumeration value="sans-serif-bold-italic"/>
               <xs:enumeration value="monospace"/>
               <xs:enumeration value="initial"/>
               <xs:enumeration value="tailed"/>
               <xs:enumeration value="looped"/>
               <xs:enumeration value="stretched"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mathsize">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="small"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="normal"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="big"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="mml:DeprecatedTokenAtt"/>
   </xs:attributeGroup>
   <xs:element name="msline">
      <xs:complexType>
         <xs:attributeGroup ref="mml:msline.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msline.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="position" type="mml:integer"/>
      <xs:attribute name="length" type="mml:unsigned-integer"/>
      <xs:attribute name="leftoverhang" type="mml:length"/>
      <xs:attribute name="rightoverhang" type="mml:length"/>
      <xs:attribute name="mslinethickness">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="none">
      <xs:complexType>
         <xs:attributeGroup ref="mml:none.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="none.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
   </xs:attributeGroup>
   <xs:element name="mprescripts">
      <xs:complexType>
         <xs:attributeGroup ref="mml:mprescripts.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mprescripts.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="CommonPresAtt">
      <xs:attribute name="mathcolor" type="mml:color"/>
      <xs:attribute name="mathbackground">
         <xs:simpleType>
            <xs:union memberTypes="mml:color">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="transparent"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="TokenAtt">
      <xs:attribute name="mathvariant">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="bold"/>
               <xs:enumeration value="italic"/>
               <xs:enumeration value="bold-italic"/>
               <xs:enumeration value="double-struck"/>
               <xs:enumeration value="bold-fraktur"/>
               <xs:enumeration value="script"/>
               <xs:enumeration value="bold-script"/>
               <xs:enumeration value="fraktur"/>
               <xs:enumeration value="sans-serif"/>
               <xs:enumeration value="bold-sans-serif"/>
               <xs:enumeration value="sans-serif-italic"/>
               <xs:enumeration value="sans-serif-bold-italic"/>
               <xs:enumeration value="monospace"/>
               <xs:enumeration value="initial"/>
               <xs:enumeration value="tailed"/>
               <xs:enumeration value="looped"/>
               <xs:enumeration value="stretched"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mathsize">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="small"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="normal"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="big"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dir">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="ltr"/>
               <xs:enumeration value="rtl"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="mml:DeprecatedTokenAtt"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="DeprecatedTokenAtt">
      <xs:attribute name="fontfamily"/>
      <xs:attribute name="fontweight">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="bold"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fontstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="italic"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fontsize" type="mml:length"/>
      <xs:attribute name="color" type="mml:color"/>
      <xs:attribute name="background">
         <xs:simpleType>
            <xs:union memberTypes="mml:color">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="transparent"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="MalignExpression" abstract="true"
               substitutionGroup="mml:PresentationExpression"/>
   <xs:element name="malignmark" substitutionGroup="mml:MalignExpression">
      <xs:complexType>
         <xs:attributeGroup ref="mml:malignmark.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="malignmark.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="edge">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="maligngroup" substitutionGroup="mml:MalignExpression">
      <xs:complexType>
         <xs:attributeGroup ref="mml:maligngroup.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="maligngroup.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="groupalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="decimalpoint"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mrow" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
         <xs:attributeGroup ref="mml:mrow.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mrow.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="dir">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="ltr"/>
               <xs:enumeration value="rtl"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mfrac" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mfrac.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mfrac.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="linethickness">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="denomalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bevelled">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="msqrt" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:msqrt.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msqrt.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
   </xs:attributeGroup>
   <xs:element name="mroot" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mroot.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mroot.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
   </xs:attributeGroup>
   <xs:element name="mstyle" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:mstyle.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mstyle.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:mstyle.specificattributes"/>
      <xs:attributeGroup ref="mml:mstyle.generalattributes"/>
      <xs:attributeGroup ref="mml:mstyle.deprecatedattributes"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="mstyle.specificattributes">
      <xs:attribute name="scriptlevel" type="mml:integer"/>
      <xs:attribute name="displaystyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scriptsizemultiplier" type="mml:number"/>
      <xs:attribute name="scriptminsize" type="mml:length"/>
      <xs:attribute name="infixlinebreakstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="before"/>
               <xs:enumeration value="after"/>
               <xs:enumeration value="duplicate"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="decimalpoint" type="mml:character"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="mstyle.generalattributes">
      <xs:attribute name="accent">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="accentunder">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="alignmentscope">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:enumeration value="true"/>
                           <xs:enumeration value="false"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bevelled">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charspacing">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="loose"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="tight"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="close"/>
      <xs:attribute name="columnalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:columnalignstyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnlines">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:linestyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnspacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:length"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnspan" type="mml:positive-integer"/>
      <xs:attribute name="columnwidth">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:union memberTypes="mml:length">
                           <xs:simpleType>
                              <xs:restriction base="xs:token">
                                 <xs:enumeration value="auto"/>
                              </xs:restriction>
                           </xs:simpleType>
                           <xs:simpleType>
                              <xs:restriction base="xs:token">
                                 <xs:enumeration value="fit"/>
                              </xs:restriction>
                           </xs:simpleType>
                        </xs:union>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="crossout">
         <xs:simpleType>
            <xs:list>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="none"/>
                     <xs:enumeration value="updiagonalstrike"/>
                     <xs:enumeration value="downdiagonalstrike"/>
                     <xs:enumeration value="verticalstrike"/>
                     <xs:enumeration value="horizontalstrike"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:list>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="denomalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="depth" type="mml:length"/>
      <xs:attribute name="dir">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="ltr"/>
               <xs:enumeration value="rtl"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="edge">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="equalcolumns">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="equalrows">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="fence">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="form">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="prefix"/>
               <xs:enumeration value="infix"/>
               <xs:enumeration value="postfix"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="frame" type="mml:linestyle"/>
      <xs:attribute name="framespacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:union memberTypes="mml:length mml:length"/>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:length value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="groupalign" type="mml:group-alignment-list-list"/>
      <xs:attribute name="height" type="mml:length"/>
      <xs:attribute name="indentalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalignfirst">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentalignlast">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="auto"/>
               <xs:enumeration value="id"/>
               <xs:enumeration value="indentalign"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshift" type="mml:length"/>
      <xs:attribute name="indentshiftfirst">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indentshiftlast">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="indentshift"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="indenttarget"/>
      <xs:attribute name="largeop">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="leftoverhang" type="mml:length"/>
      <xs:attribute name="length" type="mml:unsigned-integer"/>
      <xs:attribute name="linebreak">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="auto"/>
               <xs:enumeration value="newline"/>
               <xs:enumeration value="nobreak"/>
               <xs:enumeration value="goodbreak"/>
               <xs:enumeration value="badbreak"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="linebreakmultchar"/>
      <xs:attribute name="linebreakstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="before"/>
               <xs:enumeration value="after"/>
               <xs:enumeration value="duplicate"/>
               <xs:enumeration value="infixlinebreakstyle"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lineleading" type="mml:length"/>
      <xs:attribute name="linethickness">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="location">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="w"/>
               <xs:enumeration value="nw"/>
               <xs:enumeration value="n"/>
               <xs:enumeration value="ne"/>
               <xs:enumeration value="e"/>
               <xs:enumeration value="se"/>
               <xs:enumeration value="s"/>
               <xs:enumeration value="sw"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="longdivstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="lefttop"/>
               <xs:enumeration value="stackedrightright"/>
               <xs:enumeration value="mediumstackedrightright"/>
               <xs:enumeration value="shortstackedrightright"/>
               <xs:enumeration value="righttop"/>
               <xs:enumeration value="left/\right"/>
               <xs:enumeration value="left)(right"/>
               <xs:enumeration value=":right=right"/>
               <xs:enumeration value="stackedleftleft"/>
               <xs:enumeration value="stackedleftlinetop"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lquote"/>
      <xs:attribute name="lspace" type="mml:length"/>
      <xs:attribute name="mathsize">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="small"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="normal"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="big"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mathvariant">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="normal"/>
               <xs:enumeration value="bold"/>
               <xs:enumeration value="italic"/>
               <xs:enumeration value="bold-italic"/>
               <xs:enumeration value="double-struck"/>
               <xs:enumeration value="bold-fraktur"/>
               <xs:enumeration value="script"/>
               <xs:enumeration value="bold-script"/>
               <xs:enumeration value="fraktur"/>
               <xs:enumeration value="sans-serif"/>
               <xs:enumeration value="bold-sans-serif"/>
               <xs:enumeration value="sans-serif-italic"/>
               <xs:enumeration value="sans-serif-bold-italic"/>
               <xs:enumeration value="monospace"/>
               <xs:enumeration value="initial"/>
               <xs:enumeration value="tailed"/>
               <xs:enumeration value="looped"/>
               <xs:enumeration value="stretched"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maxsize">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="infinity"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="minlabelspacing" type="mml:length"/>
      <xs:attribute name="minsize" type="mml:length"/>
      <xs:attribute name="movablelimits">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mslinethickness">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thin"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="thick"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="notation"/>
      <xs:attribute name="numalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="open"/>
      <xs:attribute name="position" type="mml:integer"/>
      <xs:attribute name="rightoverhang" type="mml:length"/>
      <xs:attribute name="rowalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:verticalalign"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowlines">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:linestyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:length"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspan" type="mml:positive-integer"/>
      <xs:attribute name="rquote"/>
      <xs:attribute name="rspace" type="mml:length"/>
      <xs:attribute name="selection" type="mml:positive-integer"/>
      <xs:attribute name="separator">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="separators"/>
      <xs:attribute name="shift" type="mml:integer"/>
      <xs:attribute name="side">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="leftoverlap"/>
               <xs:enumeration value="rightoverlap"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stackalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="decimalpoint"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stretchy">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="subscriptshift" type="mml:length"/>
      <xs:attribute name="superscriptshift" type="mml:length"/>
      <xs:attribute name="symmetric">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign" type="mml:length"/>
      <xs:attribute name="width" type="mml:length"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="mstyle.deprecatedattributes">
      <xs:attributeGroup ref="mml:DeprecatedTokenAtt"/>
      <xs:attribute name="veryverythinmathspace" type="mml:length"/>
      <xs:attribute name="verythinmathspace" type="mml:length"/>
      <xs:attribute name="thinmathspace" type="mml:length"/>
      <xs:attribute name="mediummathspace" type="mml:length"/>
      <xs:attribute name="thickmathspace" type="mml:length"/>
      <xs:attribute name="verythickmathspace" type="mml:length"/>
      <xs:attribute name="veryverythickmathspace" type="mml:length"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="math.attributes">
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attributeGroup ref="mml:mstyle.specificattributes"/>
      <xs:attributeGroup ref="mml:mstyle.generalattributes"/>
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attribute name="display">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="block"/>
               <xs:enumeration value="inline"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maxwidth" type="mml:length"/>
      <xs:attribute name="overflow">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="linebreak"/>
               <xs:enumeration value="scroll"/>
               <xs:enumeration value="elide"/>
               <xs:enumeration value="truncate"/>
               <xs:enumeration value="scale"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="altimg" type="xs:anyURI"/>
      <xs:attribute name="altimg-width" type="mml:length"/>
      <xs:attribute name="altimg-height" type="mml:length"/>
      <xs:attribute name="altimg-valign">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="top"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="middle"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="bottom"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="alttext"/>
      <xs:attribute name="cdgroup" type="xs:anyURI"/>
      <xs:attributeGroup ref="mml:math.deprecatedattributes"/>
   </xs:attributeGroup>
   <xs:element name="merror" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:merror.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="merror.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
   </xs:attributeGroup>
   <xs:element name="mpadded" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:mpadded.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mpadded.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="height" type="mml:mpadded-length"/>
      <xs:attribute name="depth" type="mml:mpadded-length"/>
      <xs:attribute name="width" type="mml:mpadded-length"/>
      <xs:attribute name="lspace" type="mml:mpadded-length"/>
      <xs:attribute name="voffset" type="mml:mpadded-length"/>
   </xs:attributeGroup>
   <xs:element name="mphantom" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:mphantom.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mphantom.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
   </xs:attributeGroup>
   <xs:element name="mfenced" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
         <xs:attributeGroup ref="mml:mfenced.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mfenced.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="open"/>
      <xs:attribute name="close"/>
      <xs:attribute name="separators"/>
   </xs:attributeGroup>
   <xs:element name="menclose" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="mml:ImpliedMrow">
               <xs:attributeGroup ref="mml:menclose.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="menclose.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="notation"/>
   </xs:attributeGroup>
   <xs:element name="msub" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:msub.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msub.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="subscriptshift" type="mml:length"/>
   </xs:attributeGroup>
   <xs:element name="msup" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:msup.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msup.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="superscriptshift" type="mml:length"/>
   </xs:attributeGroup>
   <xs:element name="msubsup" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:msubsup.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msubsup.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="subscriptshift" type="mml:length"/>
      <xs:attribute name="superscriptshift" type="mml:length"/>
   </xs:attributeGroup>
   <xs:element name="munder" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:munder.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="munder.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="accentunder">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mover" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mover.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mover.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="accent">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="munderover" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
            <xs:group ref="mml:MathExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:munderover.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="munderover.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="accent">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="accentunder">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mmultiscripts" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MathExpression"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MultiScriptExpression"/>
            <xs:sequence minOccurs="0">
               <xs:element ref="mml:mprescripts"/>
               <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MultiScriptExpression"/>
            </xs:sequence>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mmultiscripts.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mmultiscripts.attributes">
      <xs:attributeGroup ref="mml:msubsup.attributes"/>
   </xs:attributeGroup>
   <xs:element name="mtable" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:TableRowExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mtable.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mtable.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:pattern value="\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:verticalalign"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:columnalignstyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="groupalign" type="mml:group-alignment-list-list"/>
      <xs:attribute name="alignmentscope">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:enumeration value="true"/>
                           <xs:enumeration value="false"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnwidth">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:union memberTypes="mml:length">
                           <xs:simpleType>
                              <xs:restriction base="xs:token">
                                 <xs:enumeration value="auto"/>
                              </xs:restriction>
                           </xs:simpleType>
                           <xs:simpleType>
                              <xs:restriction base="xs:token">
                                 <xs:enumeration value="fit"/>
                              </xs:restriction>
                           </xs:simpleType>
                        </xs:union>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="width">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="auto"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowspacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:length"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnspacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:length"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowlines">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:linestyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnlines">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:linestyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="frame" type="mml:linestyle"/>
      <xs:attribute name="framespacing">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:union memberTypes="mml:length mml:length"/>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:length value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="equalrows">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="equalcolumns">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displaystyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true"/>
               <xs:enumeration value="false"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="side">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="leftoverlap"/>
               <xs:enumeration value="rightoverlap"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="minlabelspacing" type="mml:length"/>
   </xs:attributeGroup>
   <xs:element name="mlabeledtr" substitutionGroup="mml:TableRowExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="mml:TableCellExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mlabeledtr.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mlabeledtr.attributes">
      <xs:attributeGroup ref="mml:mtr.attributes"/>
   </xs:attributeGroup>
   <xs:element name="mtr" substitutionGroup="mml:TableRowExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:TableCellExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mtr.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mtr.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="rowalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="bottom"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="baseline"/>
               <xs:enumeration value="axis"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnalign">
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="mml:columnalignstyle"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="groupalign" type="mml:group-alignment-list-list"/>
   </xs:attributeGroup>
   <xs:element name="mtd" substitutionGroup="mml:TableCellExpression"/>
   <xs:attributeGroup name="mtd.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="rowspan" type="mml:positive-integer"/>
      <xs:attribute name="columnspan" type="mml:positive-integer"/>
      <xs:attribute name="rowalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="bottom"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="baseline"/>
               <xs:enumeration value="axis"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="columnalign" type="mml:columnalignstyle"/>
      <xs:attribute name="groupalign" type="mml:group-alignment-list"/>
   </xs:attributeGroup>
   <xs:element name="mstack" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MstackExpression"/>
         <xs:attributeGroup ref="mml:mstack.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mstack.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:pattern value="\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="stackalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="decimalpoint"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charalign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="right"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="charspacing">
         <xs:simpleType>
            <xs:union memberTypes="mml:length">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="loose"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="medium"/>
                  </xs:restriction>
               </xs:simpleType>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="tight"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="mlongdiv" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:sequence>
            <xs:group ref="mml:MstackExpression"/>
            <xs:group ref="mml:MstackExpression"/>
            <xs:group maxOccurs="unbounded" ref="mml:MstackExpression"/>
         </xs:sequence>
         <xs:attributeGroup ref="mml:mlongdiv.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mlongdiv.attributes">
      <xs:attributeGroup ref="mml:msgroup.attributes"/>
      <xs:attribute name="longdivstyle">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="lefttop"/>
               <xs:enumeration value="stackedrightright"/>
               <xs:enumeration value="mediumstackedrightright"/>
               <xs:enumeration value="shortstackedrightright"/>
               <xs:enumeration value="righttop"/>
               <xs:enumeration value="left/\right"/>
               <xs:enumeration value="left)(right"/>
               <xs:enumeration value=":right=right"/>
               <xs:enumeration value="stackedleftleft"/>
               <xs:enumeration value="stackedleftlinetop"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="msgroup">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MstackExpression"/>
         <xs:attributeGroup ref="mml:msgroup.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msgroup.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="position" type="mml:integer"/>
      <xs:attribute name="shift" type="mml:integer"/>
   </xs:attributeGroup>
   <xs:element name="msrow">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MsrowExpression"/>
         <xs:attributeGroup ref="mml:msrow.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="msrow.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="position" type="mml:integer"/>
   </xs:attributeGroup>
   <xs:element name="mscarries">
      <xs:complexType>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="mml:MsrowExpression"/>
            <xs:element ref="mml:mscarry"/>
         </xs:choice>
         <xs:attributeGroup ref="mml:mscarries.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mscarries.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="position" type="mml:integer"/>
      <xs:attribute name="location">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="w"/>
               <xs:enumeration value="nw"/>
               <xs:enumeration value="n"/>
               <xs:enumeration value="ne"/>
               <xs:enumeration value="e"/>
               <xs:enumeration value="se"/>
               <xs:enumeration value="s"/>
               <xs:enumeration value="sw"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="crossout">
         <xs:simpleType>
            <xs:list>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="none"/>
                     <xs:enumeration value="updiagonalstrike"/>
                     <xs:enumeration value="downdiagonalstrike"/>
                     <xs:enumeration value="verticalstrike"/>
                     <xs:enumeration value="horizontalstrike"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:list>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scriptsizemultiplier" type="mml:number"/>
   </xs:attributeGroup>
   <xs:element name="mscarry">
      <xs:complexType>
         <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MsrowExpression"/>
         <xs:attributeGroup ref="mml:mscarry.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="mscarry.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="location">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="w"/>
               <xs:enumeration value="nw"/>
               <xs:enumeration value="n"/>
               <xs:enumeration value="ne"/>
               <xs:enumeration value="e"/>
               <xs:enumeration value="se"/>
               <xs:enumeration value="s"/>
               <xs:enumeration value="sw"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="crossout">
         <xs:simpleType>
            <xs:list>
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="none"/>
                     <xs:enumeration value="updiagonalstrike"/>
                     <xs:enumeration value="downdiagonalstrike"/>
                     <xs:enumeration value="verticalstrike"/>
                     <xs:enumeration value="horizontalstrike"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:list>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="maction" substitutionGroup="mml:PresentationExpression">
      <xs:complexType>
         <xs:group maxOccurs="unbounded" ref="mml:MathExpression"/>
         <xs:attributeGroup ref="mml:maction.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="maction.attributes">
      <xs:attributeGroup ref="mml:CommonAtt"/>
      <xs:attributeGroup ref="mml:CommonPresAtt"/>
      <xs:attribute name="actiontype" use="required"/>
      <xs:attribute name="selection" type="mml:positive-integer"/>
   </xs:attributeGroup>
</xs:schema>